body{
	padding:0px;
	margin:0px;
}

.block{
	display:block;
}

.a{
	color: rgba(255,255,255,0.8);
	text-decoration: none;
    font-family: arial,sans-serif;
    font: 13px/27px Arial,sans-serif;

}

.a:hover{
	text-decoration:none;
	color:rgba(255,255,255,0.9);
}

label{
	color: rgba(0,0,0,0.8);
	text-decoration: none;
    font-family: arial,sans-serif;
    font: 13px/27px Arial,sans-serif;

}

label:hover{
	text-decoration:none;
	color:rgba(0,0,0,0.9);
}

.a_blue{
	cursor: default !important;
	display: inline-block;
	font-weight: bold;
	height: 29px;
	line-height: 29px;
	min-width: 54px;
	padding: 0px 8px;
	text-align: center;
	text-decoration: none !important;
	border-radius: 2px;
	-moz-user-select: none
	margin: 16px 8px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: rgba(255,255,255,0.8) !important;
	font-size: 11px;
}

.a_blue:hover{
	cursor: default !important;
	display: inline-block;
	font-weight: bold;
	height: 29px;
	line-height: 29px;
	min-width: 54px;
	padding: 0px 8px;
	text-align: center;
	text-decoration: none !important;
	border-radius: 2px;
	-moz-user-select: none
	margin: 16px 8px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #444 !important;
	font-size: 11px;
	background: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1) repeat scroll 0% 0% transparent;
}


.nopadding{
	padding:0px;
	margin:0px;
}

.block{
	display:block;
}

.padding-10{
}

menu_text{

	color:rgba(255,255,255,0.8);
}

.sign_in_table{
	position:absolute;
	left:30%;
	display:table;
}

.sign_up_table{
	position:absolute;
	left:60%;
	display:table;
}

.sign_in_table div{
	padding:2px;
	display:block;
}

.sign_up_table div{
	padding:2px;
	display:block;
}

.container{
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
}

.head_container{
	position:fixed;
	top:0px;
	height:50px;
	background-color:black;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;
}

.logo{
	padding-left:25px;
	display: flex;
    align-items: center;
    justify-content: center;	
	height:50px;	
	font-family:rage;
	width:100px;	
	font-size:35px;
	color: rgba(255,255,255,1);
	text-decoration: none;
}

.logo:hover{
	text-decoration:none;
	color:rgba(255,255,255,0.9);
	
}

.head_container ul{
	position:absolute;
	top:0px;
	right:0px;
	list-style:none;
}

.head_container ul li{
	display: flex;
    align-items: center;
    justify-content: center;		
	height:50px;	
	float:left;	
}

.head_container ul li:hover{
	cursor:default;
}

#head_search{
	margin-left:10px;
	padding:5px 30px 5px 5px;
	border:none;
	font-weight:bold;
	font-size:10px;
	border-radius:5px;
	box-shadow: 0px 1px 2px 0px black inset;
	transition:box-shadow 0.5s ease;
}

#head_search:focus{
	box-shadow: 0px 1px 5px 0px black inset;
}

#search_button{
	
	position:relative;
	height:27px;
	width:30px;
	left:-23px;
	border:none;
	background:rgba(0,0,0,0.0);
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
}

.bg{
	position:absolute;
	top:-200px;
	z-index:-1;
	width:1366px;
	height:auto;
	opacity:0.5;

}

.round{
	z-index:5;
	height:300px;
	width:300px;
	border-radius:150px;
	background:rgba(0,0,0,0.7);
}

#one{
	background:white;
	position:absolute;
	left:30px;
	top:120px;
	transition:all 0.5s ease;
}

#one:hover{
	top:110px;
}

#two{
	overflow:hidden;	
	position:absolute;
	right:30px;
	top:120px;
	transition:all 0.5s ease;
}

#two:hover{
	top:110px;
}	

#three{
	overflow:hidden;	
	position:absolute;
	left:39%;
	top:120px;
	transition:all 0.5s ease;
}

#three:hover{
	top:110px;
}

.img_adjust{
	position:absolute;
	top:-50px;
	left:00px;
	height:400px;
	width:auto;
}

.one_text{
	position:absolute;
	top:70px;
	left:60px;
	font-family:rage;
	font-size:60px;
	color:black;
}
.inline{
	display:inline;
}
.parent{
	position:relative;
	float:left;
	width:15%;
	height:280px;
	background:white;
	margin:10px;
	display:block;
	box-shadow:0px 1px 5px 1px rgba(0,0,0,0.2);
	border-radius:3px;
	overflow:hidden;
}

.parent1{
	position:relative;
	float:left;
	width:15%;
	height:280px;
	background:white;
	margin:10px;
	
	box-shadow:0px 1px 5px 1px rgba(0,0,0,0.2);
	border-radius:3px;
	overflow:hidden;
}

.parent2{
	position:relative;
	float:left;
	width:15%;
	height:280px;
	background:white;
	margin:10px;
	
	box-shadow:0px 1px 5px 1px rgba(0,0,0,0.2);
	border-radius:3px;
	overflow:hidden;
}

.parent3{
	position:relative;
	float:left;
	width:15%;
	height:280px;
	background:white;
	margin:10px;
	
	box-shadow:0px 1px 5px 1px rgba(0,0,0,0.2);
	border-radius:3px;
	overflow:hidden;
}

.parent_hair{
	position:relative;
	float:left;
	width:60%;
	height:600px;
	background:white;
	margin:10px;	
	box-shadow:0px 1px 5px 1px rgba(0,0,0,0.2);
	border-radius:3px;
	overflow:hidden;
}

.paarent{
	height:1000px;
	width:1347px;
	background:rgba(0,0,0,0.5);
	margin:10px;
}

.img{
	position:relative;
	float:left;
	width:100%;
	height:50%;
	background:none;
	overflow:hidden;
}

.textt{
	position:relative;
	left:10px;
	top:10px;
	color:black;
	font-size:30px;
	font-weight:100;
	font-family:arial;
}

.a_blue_big{
	cursor: default !important;
	display: inline-block;
	font-weight: bold;
	height: 29px;
	line-height: 29px;
	min-width: 160px;
	padding: 0px 8px;
	text-align: center;
	text-decoration: none !important;
	border-radius: 2px;
	-moz-user-select: none;
	margin: 16px 8px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: rgba(0,0,0,0.8) !important;
	font-size: 11px;
	transition:all 0.5s ease;
	background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
}
.a_blue_big:hover{
	color:rgba(0,0,0,0.6);
	border: 1px solid rgba(0, 0, 0, 0.3);	
	box-shadow:0px 1px 5px 5px rgba(0,0,0,0.1);
	background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1))
}